@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right {
    flex: 1;
}

/* SIGN IN */ 

#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

#signin .form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 8vh;
}

#signin .logo img {
    width: 300px;
}

#signin .label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    font-size: large;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

/* Button */
.primary-btn {
    padding: 0.7rem 1rem;
    margin-bottom: 2.7rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    background-color: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

#signin .primary-btn {
    width: 100%;
}

.primary-btn:hover {
    background-color: #ff7b39;
}

.secondary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 600;
    background-color: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

#signin .secondary-btn {
    width: 35%;
}

.secondary-btn:hover {
    border-color: #ff7b39;
    color: #ff7b39;
}

/* Media Queries */
@media (min-width: 1200px) {
    #left {
        flex: 4
    }
    #right {
        flex: 6;
    }
}